/* used to style the HTML page */

/*  Google Font - Source Sans Pro */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;600&display=swap');

/* * (asterisk) is the unversal selector - selects all elements in the HTML doc */
* {
    box-sizing: border-box;
}

/* formating the body html tag */
body {
    /*adding background image*/
    background-image: url("Images/unsplash-coding.jpg");
    background-size: cover;
    background-position: center center; /* not really needed in my case */
    /* using flex so the items take up same amount of space on the display */
    /* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Source Sans Pro", sans-serif; /* desired font + default font */
    margin: 0;

}