/* used to style the HTML page */

/*  Google Font - Source Sans Pro */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;600&display=swap');

/* * (asterisk) is teh unversal selector - selects all elements in the HTML doc */
* {
    box-sizing: border-box;
}

/* formating the body html tag */
body {
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
    font-family: "Source Sans Pro", sans-serif; /* desired font + default font */
    margin: 0;
    display: flex;
    justify-content: center;
    /* align items to center of cross axis */
    align-items: center; 
    /* this will allow the gradient to stretch the whole page */
    min-height: 100vh; 
}

/* styling the quiz container */
.quiz-container{
    background-color: #ffffff;
    /* rounds the edges of the box */
    border-radius: 7px; 
    /* create a box shadow, h-offset, v-offset, blur optional, colour optional */
    box-shadow: 0 0 10px 5px rgba(100, 100, 100, 0.15);
    width: 500px;
    /* to make it responsive -- will always be able to see the whole question rather than zoomed
    in  */
    max-width: 100%;
    /* Removes the sharp corners created by the button */
    overflow: hidden;
}

.quiz-question{ 
    padding: 2rem;
}

h2{
    padding: 0;
    margin: 0;
}

/* editing bullet list style */
ul{
    /* remove bullet point from list */
    list-style-type: none;
    padding: 0;
    max-height: 500px;
}

ul li{
    padding: 0.5rem 0;
    color: rgb(36, 77, 211)
}


/* editing the button style */
button{
    background-color: #4370E7;
    /* remove border so it appears rounded at the bottom */
    border: none;
    /* sets color of font */
    color: white; 
    /* changes it to a finger pointing */
    cursor: pointer;
    display: block;
    font-family: inherit;
    font-size: 0.75rem;
    padding: 1.1rem; 
    width: 100%;

}

/* determines what happens when you move the cursor over the button */
button:hover{
    background-color: #1f54e7;

}
